<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <!-- Navbar css-->
    <link rel="stylesheet" href="{% static 'foodapp/navbar/style.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/navbar/bootstrap.min.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'foodapp/cart/style.css' %}">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Steak House</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="smoothScroll">Home</a></li>
        
        <li><a href="/menu" class="smoothScroll">Menu</a></li>
        {% if name %}
        <li><a href="/loggedout" class="">Log out</a></li>
        
        <li><a href="/cart" class="">Cart</a></li>
        <li><a href=""> Welcome {{name}} </a></li>
        {% else %}
        <li><a href="/registration" class="">Register</a></li>
        <li><a href="/login" class="">Login</a></li>
        {% endif %}
        
      </ul>
    </div>

  </div>
  </div>  
  <div class="contentmain">
    
    {% for i in fooditem %}
    {% for j in foodcart %}
    {% if i.id == j.id1 %}
    <div class="item">
        
        <div class="imageclass" >
            <img src="{{ i.img.url }}" alt="item1" style="width: 60%;">
        </div>
        <div class="details">
            <h3>{{i.name}}</h3>
            <p>{{i.description}}</p>
            <p>Price : {{i.price}} Dollars</p>

        </div>
        
    </div>
    <div>
        <center><h3>No of items in Cart: {{j.count}}</h3></center>
        
        
        <center>
            <h3 style="display: inline;">Total price of dish : </h3>
            <h3 id="price{{i.id}}" style="display: inline;"></h3>
            <h3 style="display: inline;"> Dollars</h3>
        </center>
        
    </div>
    </div>
    <div class="containersubmit">
    <div class="submissions">
      <form action="/cart/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="foodid" value="{{i.id}}">
        <button>
            <input type="submit" name="submit" value="Add again" class="submittocart">
        </button>
      </form>
    </div>
    <div class="submissions">
    <form action="/cart/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="foodiddel" value="{{i.id}}">
        <button>
            <input type="submit" name="submit" value="Delete from cart" class="submittocart">
        </button>

    </form>
    </div>
    <script type="text/javascript">
        a=document.getElementById('price{{i.id}}')
        a.innerHTML ={{j.count}}*{{i.price}};
    </script>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>

    <center>
        <button>
        
            <a href="/checkout">
            
        
                <h2>
        
                    Checkout
        
                </h2>
        
            </a>
    
        </button>
    </center>
   

  
</body>