<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Navbar css-->
    <link rel="stylesheet" href="{% static 'foodapp/navbar/style.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/navbar/bootstrap.min.css' %}">



    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'foodapp/registration/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'foodapp/registration/css/style.css' %}">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">

  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">Steak House</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="smoothScroll">Home</a></li>
      
      <li><a href="/menu" class="smoothScroll">Menu</a></li>
      <li><a href="/registration" class="">Register</a></li>
      <li><a href="/login" class="">Login</a></li>
      
    </ul>
  </div>

</div>
</div>
<div class="bodydoc">

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="containerbody">
                <div class="signup-content">
                    <form action="/registration/registered/" method="post" id="signup-form" class="signup-form" >
                      {% csrf_token %}
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Username" {% if i %} value="{{reg.name}}" {% endif %}/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" {% if i %} value="{{reg.email}}" {% endif %}/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Password" {% if i != 3 %} value="{{reg.pswrd}}" {% endif %}/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" {% if i != 3 %} value="{{pswrdcheck}}" {% endif %}/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="{% static 'foodapp/registration/terms.pdf' %}" target="_blank" class="term-service">Terms of service</a></label>
                        </div>
                        {% if i == 1 %}
                        <h4 style="color:red;"><center>Cannot leave fields blank</center></h4>
                        {% endif %}
                        {% if i == 2 %}
                        <h4 style="color:red;"><center>Accept terms and conditions</center></h4>
                        {% endif %}
                        {% if i == 3 %}
                        <h4 style="color:red;"><center>Password does not match</center></h4>
                        {% endif %}
                        {% if i == 4 %}
                        <h4 style="color:red;"><center>Username already exists</center></h4>
                        {% endif %}
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>

                        Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
  </div>

    <!-- JS -->
    <script src="{% static 'foodapp/registration/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'foodapp/registration/js/main.js' %}"></script>

    <!--navbar-->
    <script src="{% static 'foodapp/navbar/bootstrap.min.js' %}"></script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
