<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registered</title>
    <!-- Navbar css-->
    <link rel="stylesheet" href="{% static 'foodapp/navbar/style.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/navbar/bootstrap.min.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Steak House</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="smoothScroll">Home</a></li>
        
        <li><a href="/menu" class="smoothScroll">Menu</a></li>
        <li><a href="/registration" class="">Register</a></li>
        <li><a href="/login" class="">Login</a></li>
        
      </ul>
    </div>
  <div class="contentmain">
      <h1>Registered user</h1>
      <h2>Proceed to <a href="/login">login</a></h2>
  </div>
  </div>
  </div> 
</body>   