body {
		background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
	}



  a {
    text-decoration: none !important;
  }
  a:visited,
  a:focus {
    outline: none;
    text-decoration: none !important;
  }




.navbar-default {
    background: #ffffff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #757575;
    font-size: 19px;
    font-weight: 300;
    line-height: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li a:hover {
    color: #c21500 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c21500;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
